body {
  background-color: darkgray;
  padding: 0;
  margin: 0;
  min-height: 90vh;
}
h1 {
  text-align: center;
}
.weather-app-wrapper {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.weather-input {
  width: 200px;
  height: 20px;
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: 10px;
}
.weather-button {
  width: 200px;
  height: 20px;
  padding: 0;
  margin: 0;
  border: none;
}

.temp {
  color: wheat;
}

.weather {
  color: wheat;
}
.input-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.today-forecast {
  margin: 1rem;
  padding: 10px;
  border: 2px solid black;
  min-height: 250px;
  min-width: 300px;
}

.weekly-forecast {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  margin: 1rem;
  border: 2px solid black;
  height: 300px;
  min-width: 600px;
}

.weekly-forecast > * {
  padding: 10px;
}

.history > * {
  min-height: 12px;
}
